@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'roboto';
}

.App {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 5%;
}

.form-wrapper {
  margin: 5vh 0;
  display: flex;
  justify-content: center;
}

.form-input {
  background-color: transparent;
  border: 2px solid #000;
  padding: 5px 10px;
  transition: .2s;
}

.form-input:focus {
  background-color: #000;
  color: #fff;
  border: none;
}

.form-btn {
  background-color: transparent;
  border: 2px solid #000;
  padding: 5px 20px;
  min-width: 100px;
  margin: 0 0 0 25px;
  border-radius: 20px;
  font-family: 'roboto';
  font-weight: 700;
  transition: .2s;
}
.form-btn:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.result-list {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

.result-list-title {
  margin-top: 25px;
}

.result-list__item {
  height: 100%;
  text-align: center;
  padding: 15px 0;
}
.result-list__item-title {font-weight: 700;}

.result-list__item-id {width: 5%}
.result-list__item-alpha-two-code {width: 10%}
.result-list__item-country {width: 10%}

.result-list__item-domains {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.result-list__item-name {width: 30%}
.result-list__item-web-pages {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.result-list__item-favorite {width: 5%;}